/*
=============
=== Fonts ===
=============
*/
@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'channel';
  src: url("../fonts/Channel.ttf");
}

/*
=====================
=== SCSS Variable ===
=====================
*/
/*
=====================
=== Global Styles ===
=====================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #fafafa;
  font-family: "open-sans";
  font-size: 1.2rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 30px;
  padding-bottom: 20px;
}

main .actions {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .actions .action {
  all: unset;
  display: flex;
  align-items: center;
  width: 100px;
  padding: 10px 15px;
  font-size: 1rem;
  margin: 0 5px;
  border: 1px #ddd solid;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: .3s all ease-in-out;
}

main .actions .action i {
  margin-inline-end: 10px;
}

main .actions .action.generate {
  border-color: #3498db;
  color: #3498db;
}

main .actions .action.generate:hover {
  background-color: #e1f0fa;
}

main .actions .action.clear {
  border-color: #dc3545;
  color: #dc3545;
}

main .actions .action.clear:hover {
  background-color: #fae3e5;
}

main .actions .action.solve {
  border-color: #28a745;
  color: #28a745;
}

main .actions .action.solve:hover {
  background-color: #afecbd;
}

main .message {
  max-width: 60%;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
}

main .message.success {
  background-color: #28a745;
  box-shadow: inset 0 0 10px #145523;
  color: #fff;
}

main .message.info {
  background-color: #3498db;
  box-shadow: inset 0 0 10px #196090;
  color: #fff;
}

main .message.danger {
  background-color: #dc3545;
  box-shadow: inset 0 0 10px #921925;
  color: #fff;
}

input#keyboard {
  position: fixed;
  top: -99999px;
  left: -99999px;
}

.prompt {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: -99999;
}

.prompt.show {
  transition: .4s all ease-in-out;
  opacity: 1;
  pointer-events: all;
  z-index: initial;
}

.prompt.show .algorithms {
  transform: scale(1);
}

.prompt .algorithms {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  transition: .3s all ease-in-out;
  transform: scale(0);
}

.prompt .algorithms .algo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.prompt .algorithms .algo:not(:last-child) {
  margin-bottom: 10px;
}

.prompt .algorithms .algo input[type=radio] {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  outline: none;
  display: inline-block;
  position: relative;
  margin-inline-end: 10px;
  cursor: pointer;
  border: 1px solid #bbb;
  background: #f3f3f3;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.prompt .algorithms .algo input[type=radio]::after {
  content: '';
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 0;
}

.prompt .algorithms .algo input[type=radio]:checked {
  background: #2980b9;
  border-color: #2980b9;
  transition: 0.2s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.prompt .algorithms .algo input[type=radio]:checked + span {
  color: #2980b9;
}

.prompt .algorithms .algo input[type=radio]:checked::after {
  opacity: 1;
}

.prompt .algorithms .algo input[type=radio]:focus {
  box-shadow: 0 0 0 2px #bfd0ff;
}

.prompt .algorithms .algo input[type=radio]:hover {
  border-color: #2980b9;
}

.prompt .algorithms .algo input[type=radio]:hover + span {
  color: #2980b9;
}

.prompt .algorithms .solve {
  all: unset;
  border: 1px #28a745 solid;
  color: #28a745;
  text-align: center;
  width: 50%;
  margin-inline-start: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.prompt .algorithms .solve:hover {
  background-color: #afecbd;
}

/*
=====================
=== Header Styles ===
=====================
*/
header.website-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px #ddd solid;
}

header.website-header .brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "channel";
}

header.website-header .brand img {
  height: 50px;
  margin-inline-end: 10px;
}

header.website-header .brand span {
  display: block;
  border-radius: 5px;
  background-color: #ddd;
}

header.website-header .by {
  color: #ccc;
}

header.website-header .by span {
  color: #999;
}

@media (max-width: 550px) {
  header.website-header {
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  header.website-header .by {
    display: none;
  }
}

/*
==========================
=== Sudoku Grid Styles ===
==========================
*/
.grid {
  display: flex;
  flex-direction: column;
  width: max-content;
  border: 2px #222 solid;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px auto;
  user-select: none;
  background-color: #fff;
}

.grid .row {
  display: flex;
  align-items: center;
}

.grid .row:nth-child(3n):not(:last-child) {
  border-bottom: 2px #222 solid;
}

.grid .row .column {
  height: 45px;
  width: 45px;
  border: .5px #ddd solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grid .row .column:nth-child(3n):not(:last-child) {
  border-right: 2px #222 solid;
}

.grid .row .column.error {
  background-color: #f3b7bd;
  border-color: #f3b7bd;
}

.grid .row .column.solved {
  background-color: #f3f3f3;
  color: #28a745;
  font-weight: bolder;
}

.grid .row .column.selected {
  background-color: lightblue;
  border-color: lightblue;
}
/*# sourceMappingURL=style.css.map */