/*
=============
=== Fonts ===
=============
*/

// Main Font
@font-face {
  font-family: 'open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

// Logo Font
@font-face {
  font-family: 'channel';
  src: url('../fonts/Channel.ttf');
}