/*
=============
=== Fonts ===
=============
*/

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'channel';
  src: url('../fonts/Channel.ttf');
}