/*
=====================
=== SCSS Variable ===
=====================
*/

// Colors Variables
$primary: #2980b9;
$secondary: #3498db;
$success: #28a745;
$danger: #dc3545;

// Fonts Variables
$main_font: 'open-sans';
$brand_font: 'channel';